.loginPage{
    height: 100vh;
    width: 100vw;
    background-color: #2E0F15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginPageContent{
    width: 450px;
    height: 300px;
    background-color: #307351;
    border-radius: 10px;
    padding: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.inputs input{
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.options{
    display: flex;
    flex-direction: row;
}

.options button{
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.options a{
    text-decoration: none;
    margin-left: 20px;
}